%h1 fuck yeah chord search!

%p
  find chords that include
%ul
  %li
    %a{href: '/guitar/e5E5.json'}the e (high) string and E (low) string pressed down at the 5th fret
  %li
    %a{href: '/guitar/g2D2.json'}the g string and D string pressed down at the 2nd fret
