%h1 fuck yeah chord search!

%p
  find chords that include
%ul
  %li
    the e (high) string and E (low) string pressed down at the 5th fret
    %ul
      %li
        %a{href: '/guitar/e5E5'}as visualized chords
      %li
        %a{href: '/guitar/e5E5.json'}as json
  %li
    the g string and D string pressed down at the 2nd fret
    %ul
      %li
        %a{href: '/guitar/g2D2'}as visualized chords
      %li
        %a{href: '/guitar/g2D2.json'}as json

